.main-container{
    color: hsl(0, 0%, 95%);
    font-family: 'Times New Roman';
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    font-size: 15px;
    width: 59%;
    margin: 0rem auto;
    height: 50vh;
    margin-top: 50px;
}

.sc2{
    color: hsla(0, 0%, 100%, 0.75);
}

.container2{
    background-color: hsl(180, 100%, 27%);
    padding: 50px;
}

.container3{
    background-color: hsl(184, 100%, 13%);
    padding: 50px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;  
}

.container1{
    background-color: hsl(31, 77%, 52%);
    padding: 50px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;    
}

@media screen and (max-width: 600px) {
    .main-container{
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .container1, .container2, .container3{
        height: 500px;
        width: 100%;
    }

    .container1{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
    }

    .container3{
        border-top-right-radius: 0px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }
}